/*navbar*/

  .badge-default {
    background-color: rgb(255, 232, 232);
  }

  .badge-primary {
    background-color: #337ab7;
  }

  .badge-success {
    background-color: #5cb85c;
  }

  .badge-info {
    background-color: #5bc0de;
  }

  .badge-warning {
    background-color: #f0ad4e;
  }

  .badge-danger {
    background-color: #d9534f;
  }

  .navbar-icon-top .navbar-nav>li>a>.fa,
  .navbar-icon-top .navbar-nav>li>a>.glyphicon {
    position: relative;
    width: 36px;
    font-size: 24px;
  }

  .navbar-icon-top .navbar-nav>li>a>.fa>.badge,
  .navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
    position: absolute;
    right: 0;
    font-family: sans-serif;
  }

  .navbar-icon-top .navbar-nav>li>a>.fa {
    top: 3px;
    line-height: 12px;
  }

  .navbar-icon-top .navbar-nav>li>a>.fa>.badge {
    top: -10px;
  }

  .navbar-icon-top .navbar-nav>li>a>.glyphicon {
    top: 6px;
    line-height: 6px;
  }

  .navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
    top: -16px;
  }

  @media (min-width: 768px) {
    .navbar-icon-top .navbar-brand {
      padding: 25px 15px;
    }
    .navbar-icon-top .navbar-text {
      margin-top: 25px;
      margin-bottom: 25px;
    }
    .navbar-icon-top .navbar-btn,
    .navbar-icon-top .navbar-form {
      margin-top: 18px;
      margin-bottom: 18px;
    }
    .navbar-icon-top .navbar-nav>li>a {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
    .navbar-icon-top .navbar-nav>li>a>.fa,
    .navbar-icon-top .navbar-nav>li>a>.glyphicon {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
    .navbar-icon-top .navbar-nav>li>a>.fa>.badge,
    .navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
      top: -7px;
    }
  }

  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #fef2f2;
  }

  .navbar .pull-right>li>.dropdown-menu:before,
  .navbar .nav>li>.dropdown-menu.pull-right:before {
    left: auto;
    right: 12px;
  }

  /*.navbar .nav>li>.dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #b4b4b4;
    border-bottom-color: rgb(255, 255, 255);
    position: absolute;
    top: -7px;
    right: 9px;
  }*/

.navbar-default {
  background-color:rgb(255, 232, 232);
  border-color:rgb(255, 232, 232);
}

.navbar-default .navbar-nav>li>a {
  color:rgb(217, 170, 170);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: rgb(255, 232, 232);
  color: #ffffff;
}
/**/
@media screen and (min-width:768px) {
  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: #eee;
  }
  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
  }

}

  /*nav ë*/
