/*푸드트럭정보*/
    .basic-btn{
      background:rgb(255, 235, 235) !important;
    color: rgb(164, 64, 64) !important;
    font-weight: bolder !important;
    }
    .table1 .foodinfor {
      width: 50%;
    }

    .truck-panel-header {
      text-align: center;
      font-weight: bold;
      font-size: 13pt;
    }

    .panel-1 {
      /*기본정보*/
      text-align: center;
    }

    .panel-2 {
      /*메뉴 리뷰 이벤*/
      text-align: center;
    }

    .panel-2-body-font {
      font-size: 12pt;
      font-weight: bold;
    }

    #truck-title-p {
      font-size: 15pt;
      font-weight: bold;
    }

    .truck-basic-font {
      font-size: 13pt;
    }

    .truck-basic-font-bold {
      font-weight: bold;
    }

    /*.icon {
      color: blue;
      font-size: 15px;
      /*추후수정*/


    /*리뷰*/

    #comment-main {
      list-style: none;
      padding-left: 0px;

    }

    .span-right-padding {
      padding-right: 10px;
    }

    .col-md-3-body-center {
      padding: 0px;
    }


    /*별입력*/

    .rating {
      display: inline-block;
      position: relative;
      height: 50px;
      line-height: 50px;
      font-size: 50px;
    }

    .rating label {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      cursor: pointer;
    }

    .rating label:last-child {
      position: static;
    }

    .rating label:nth-child(1) {
      z-index: 5;
    }

    .rating label:nth-child(2) {
      z-index: 4;
    }

    .rating label:nth-child(3) {
      z-index: 3;
    }

    .rating label:nth-child(4) {
      z-index: 2;
    }

    .rating label:nth-child(5) {
      z-index: 1;
    }

    .rating label input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    .rating label .star-icon {
      float: left;
      color: transparent;
      font-size: 15px;
    }

    .rating label:last-child .star-icon {
      color: #000;
    }

    .rating:not(:hover) label input:checked~.star-icon,
    .rating:hover label:hover input~.star-icon {
      color: rgb(254, 255, 108);
    }

    .rating label input:focus:not(:checked)~.star-icon:last-child {
      color: #000;
      text-shadow: 0 0 5px #09f;
    }

    /*별입력 끝*/

    .text-area-fix {
      height: 40px;
      width: 100%;
      resize: none;
    }



    /*파일 버튼으로올리기종료*/


/*     .btn-reply,.btn-cancel {
      display: none;
    } */

    ul#comment-main button.btn-reply {
      display: none;
    }

    ul#comment-main button.btn-delete {
      display: none;
    }

    ul#comment-main button.btn-update {
      display: none;
    }
    ul#comment-main button.btn-recomment {
      display: none;
    }

    ul#comment-main li:hover button.btn-reply {
      display: inline;
    }

    ul#comment-main li:hover button.btn-delete {
      display: inline;
    }

    ul#comment-main li:hover button.btn-update {
      display: inline;
    }
    ul#comment-main li:hover button.btn-recomment {
      display: inline;
    }

    ul#comment-main,#comment-reply,#comment-insert{
      list-style: none;
    }

    ul#comment-update {
      list-style: none;
    }

    .btn-center {
      text-align: center;
    }


    li#li-comment tr:hover {background:lightgray;}
    li#li-comment tr:hover button.btn-reply{display:inline;}
    li#li-comment tr:hover button.btn-delete{display:inline;}

/*사진미리보기*/
.image-preview-input {
    position: relative;
   overflow: hidden;
   margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
   padding: 0;
   font-size: 20px;
   cursor: pointer;
   opacity: 0;
   filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
